{% extends 'base.html' %}
{% block content %}

    <h3 class="text-uppercase text-warning text-center mt-4 mb-4" style="letter-spacing:2px">
        Search Results For - {{ keyword }}
    </h3>

    <div class="row">

        <!-- Posts -->
        <div class="col-md-8">
            {% if blogs %}
                <div class="row">
                    {% for post in blogs%}
                        <div class="col-md-6 mb-4">
                            <div class="card border-0 h-100">
                                <div class="card-body">
                                    <h3>
                                        <a href="{% url 'blogs' post.slug %}">{{ post.title }}</a>
                                    </h3>
                                    <small class="mb-1 text-muted text-uppercase">
                                        {{ post.created_at|date:'d F Y' }} | {{ post.author }}
                                    </small>
                                    <p class="card-text">{{ post.short_description|truncatechars:260 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-muted text-center">No posts found in this term.</p>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-4 bg-light rounded">
                <h4 class="font-italic">{{ about.about_heading }}</h4>
                <p class="mb-0">{{ about.about_text }}</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ol>
            </div>
        </aside>

    </div>

{% endblock %}